* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Almarai', sans-serif;
}
:root{
--primary-color:#a2de96;
--gray-color:#f5f9f4;
}
a{
    text-decoration: none;
}
.main-btn{
    background-color: var(--primary-color);
    color: black;
    font-weight: bolder;
}
.main-btn:hover{
    color: white;
    background-color: #7dac73;
}
/* start navbar */
.navbar img{
    max-height: 3rem;
}
.navbar h2{
    font-size: 1.5rem;
}
.navbar .navbar-toggler{
    color: black;
    border: 0;
    outline: 0;
    box-shadow: none;
}
.navbar .navbar-toggler svg{
    transition: .5s;
}
.navbar .navbar-toggler[aria-expanded="true"] svg{
    transform: rotate(90deg);
}
.navbar .navbar-nav .nav-link{
    color: grey;
}
.navbar .navbar-nav .active{
    color: var(--primary-color);
}
.navbar .navbar-nav .nav-link:hover{
    color: var(--primary-color);
}
/* end navbar */
/* start landing */
.landing{
    min-height: 50vh;
}
.text img{
    width: 80%;
    margin-right: 20%;
}
.landing h2{
    color: var(--primary-color);
}
/* end landing */
/* start advantages */
.advantages{
    background-color: var(--gray-color);
}
.advantages img{
    height: 4rem;
}
/* end advantages */
/* start menu */
.menu .btn-small{
    background-color: rgb(231, 231, 231);
    width: 100px;

}
.menu .btn-small:hover{
    background-color: #7dac73;
    color: white;
}
.menu .active{
    background-color: #96dc88;
    color: white;
}
.menu .box{
    position: relative;
    border: 2px dashed var(--primary-color);
    border-radius: 32px ;
    overflow: hidden;
    height: 15rem;
}
.menu .box .text{
    position: absolute;
    bottom: 0;
    background-color: var(--gray-color) ;
    border-radius: 30px;
    width: 100%;
}
.menu .box .text h3{
    font-size: 1rem;
    font-weight: bold;
}
.menu .box .text span{
    color: #78d365;
    font-size: 1.25rem;
}
.menu .box .text .product-btn {
    color: white;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}
/* start menu */
/* start order */
.order .content{
    background-image: url(../img/reservation.png);
    background-size: cover;
    height: 270px;
    position: relative;
    border-radius: 40px;
}
.content .content-book{
    background-color:rgba(162,222,150,.8);
    border-radius:40px ;
}
.content .content-book .book-box input,select{
   border: 2px dashed var(--gray-color);
   background-color: transparent;
   color: var(--gray-color);
}
.content .content-book .book-btn{
    background-color: white;
    font-size: 1.2rem;
}
.content .content-book .book-btn:hover{
    background-color: #a2de96;
}
/* end order */
/* start review */
.review .box .info img{
    width: 20%;
}
/* end review */
/* start contact */
.contact .content{
    background-color: var(--gray-color);
    border: 2px dashed var(--primary-color);
}
/* end contact */
/* start footer */
footer .footer-link{
    color: grey;
}
footer .footer-link:hover{
   color: #a2de96;
}
.footer-copy a{
    color: gray;
    letter-spacing: 1px;
}
.footer-copy a:hover{
    color: #78d365;
}
/* end footer */
/* media */
@media (max-width:566px) {
    .content .content-book{
        width: 100% !important;
    }
    .content .content-book .book-box input{
        padding: 4px 2px !important;
    }
    .content .content-book .book-box{
        margin: 0 5px !important;
    }
    p{
        font-size: 12px; 
    }
    .main-btn{
        padding:7px 15px  !important;
        font-size: 16px !important;
    }
    .btn-small{
        /* padding:0px !important;
         */
         width: 55px !important;
         font-size: 12px;
    }
    .book-btn{
        padding: 4px 16px !important;
        font-size: 17px !important;
    }
    .text2 h2{
        font-size: 17px !important;
        margin-bottom: -10px !important;
    }
    .text2 p{
        font-size: 10px !important;
    }
}